{{!< layout}}

<script src="/js/city.js"></script>

<link rel="stylesheet" href="/css/cover.css" type="text/css" />

<header class="masthead">
    <div class="inner">
        <h3 class="masthead-brand">TacTicA > Contacts</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link active" href="#">Contact</a>
        </nav>
    </div>
</header>     

<main role="main"> 
    <div class="row featurette">
    
        <div  style="text-align: center;">
            <p style="text-align: center;">Hi there! My name is Anton Yarkov and this is my JIRA addon. It was created during <a href="https://codegeist.devpost.com/">Atlassian Codegeist 2020 hackathon</a> and it's designed to allow teams distributed over the world to be more efficient by making work timelines of every JIRA issue more transparent to all colleagues.</p>
        </div>
        
        <div  style="text-align: center;">
            <p style="text-align: center;">If you would like to contact me with questions or recommendations, feel free to ping me by e-mail:</p>
        </div>
        
        <div  style="text-align: center;">
            <a style="text-align: center;" href="mailto:anton.yarkov@gmail.com">anton.yarkov@gmail.com</a>
        </div>
    </div>
</main>

<footer class="mastfoot mt-auto">
    <hr class="featurette-divider">
    <div class="inner">
        <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        <p>Built using Atlassian Connect add-on library <a href="https://bitbucket.org/atlassian/atlassian-connect-express/src/master/README.md#markdown-header-atlassian-connect-express-nodejs-package-for-express-based-atlassian-add-ons" target="_parent">atlassian-connect-express</a>.</p>
    </div>
</footer>

